/* CURRENTLY IN: styles/main.css */
.col {
	height: 100px;
	background-color: yellow;
	margin: 5px;
	width: calc(100% - 10px);
}

.col-3, .col-4 {
	height: 400px;
}

.col-green {
	background-color: lightgreen;
}

.col-red {
	background-color: red;
}

.col-pink {
	background-color: pink;
}

@media all and (min-width: 450px) {
	.flex-container {
		display: flex;
		flex-wrap: wrap;
	}

	.col-3, .col-4 {
		width: calc(50% - 10px);
	}
}

@media all and (min-width: 600px) {
	.col-3 {
		width: calc(30% - 10px);
	}

	.col-4 {
		width: calc(40% - 10px);
	}
}
