body {
	color: white;
	background-color: #444;
	/*
		how to set border a bunch of
		diff ways:
		https://www.w3schools.com/css/css_border.asp
	*/
	border: 5px solid #9e9e9e;

	/*
		diff ways to set padding (same applies for
		margins tho)

		padding-top: 10px;
		padding-bottom: 12px;
		padding-left: 8px;
		padding-right: 9px;

		padding: 10px; <- t,b,l,r will all be 10px

		what if you have distinct numbers to top/bottom
		AND left/right?

		padding-top: 10px;
		padding-bottom: 10px;
		padding-left: 8px;
		padding-right: 8px;

		^ notice top/bottom are same, l/r are same
		padding: 10px 8px;

		you can also do:

		padding: 10px 9px 12px 8px;
		^ this is all FOUR in one line, going clockwise
	*/
	padding: 40px;
	margin: 20px;

	/*
		FYI we can actually center align
		block elements by:

		1. explicitly setting width prop
		2. explicitly setting margin l/r to auto
		
		width: 500px;
		margin: 0 auto
	*/
}

p {
	font-size: 18px;
	line-height: 24px;
}

.content-img-right {
	float: right;
	border: 1px solid #9e9e9e;
	padding: 5px;
}

.bookend {
	text-align: center;
	padding-bottom: 40px;
	border-bottom: 1px solid #9e9e9e;
}

.bookend-bottom {
	border-bottom: none;
	border-top: 1px solid #9e9e9e;
	padding-top: 40px;
	padding-bottom: 0;
}

.title {
	font-weight: 900;
	font-style: italic;
	font-size: 40px;
	letter-spacing: 0.8px;
}

.sub-title {
	font-family: Helvetica;
	padding: 20px 0;
	text-transform: capitalize;
}

.nav-link {
	color: #4cb592;
	font-weight: 600;
	font-size: 26px;
	font-family: Helvetica;

	border-right: 1px solid #9e9e9e;
	padding-right: 10px;
	padding-left: 10px;

	transition: color 0.5s linear;
}

.nav-link:last-child {
	border-right: none;
	padding-right: 0;
}

.nav-link:hover {
	color: #fff;
	text-decoration: none
}

.nav-link-active {
	color: white;
	text-decoration: none;
	pointer-events: none;
}

.resume-section {
	padding-top: 40px;
	font-family: Helvetica;
}

.resume-title {
	color: #9e9e9e;
	text-transform: uppercase;
	letter-spacing: 0.8px;
}

.resume-list {
	font-size: 20px;
	color: #9e9e9e;
	list-style-type: square;
}

.resume-line-item {
	margin-bottom: 20px;
}

.resume-line-title {
	font-weight: 600;
	color: white;
}

.resume-line-subtitle {
	color: white;
}

.resume-line-meta {
	font-size: 16px;
}





